name: docker-compose-actions-workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up --abort-on-container-exit --exit-code-from lhci
        env:
          LHCI_TOKEN: ${{ secrets.LHCI_TOKEN }}